@font-face {
  font-family: 'Montserrat-Bold';
  src: url(/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url(/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url(/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url(/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(/fonts/Montserrat-Regular.ttf);
}

  .scroll{
    overflow: auto;
    overflow-x: hidden;
    height: 100vh;
    /* Aplicamos estilos al scroll que se encuentra dentro del Box. */
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: #1F253A
    }
    &::-webkit-scrollbar-thumb {
        background-color: #D36B4F;
        border-radius: 10px;
}
}




.btnTranslate{
    position: fixed !important;
    border: none !important;
    color: #3B3754 !important;
    text-align: right;
    border-radius: 0px 10px 10px 0px !important;
    background: #F5D5AF !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    font-family: "AvenirHeavy" !important;
    font-weight: 900 !important;
    font-size: 1.2rem !important;
    text-transform: none !important;
    width: 118px;
    height: 34px;
    z-index: 1000;
    margin-left: 0% !important;
    margin-top: 43% !important;
    min-width: 115px !important;
    padding: 0% 0% 0% 3% !important;
}

.btnTranslate:hover{
  background: #d1afa1 !important;
  color: #3B3754 !important;
}

@media (max-width: 600px) {
 
  .btnTranslate{
      margin-left: -2% !important;
      bottom: 5% !important;
      width: 3.6875rem !important;
      height: 1.0625rem !important;
      min-width: 3.6875rem !important;
      border-radius: 0px 5px 5px 0px !important;
      font-size: 0.7325rem !important;
      z-index: 100000 !important;
      font-weight: 700 !important;
      padding: 0.5% 0% 0% 3% !important;
}
 
}