.numberSeccion3{
    font-family: "Montserrat-Bold" !important;
    font-size: 3rem !important;
    color: #143981 !important;
}
.textSeccion3{
    font-family: "Montserrat-Regular" !important;
    font-size: 1rem !important;
    color: #3B3931 !important;
    text-align: center !important;
}